@page
@model WebApplication6.Pages.ClientsModel
@{
}
<br />
<h2>Danh sách thuốc sâu</h2>
<a class="btn btn-primary btn-sm" href="/Clients/Create">Thêm</a>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Tên</th>
            <th>Mô tả</th>
            <th>Giá</th>
            <th>Số lượng</th>
            <th>Hình ảnh</th>
            <th>NSX</th>
            <th>HSD</th>
            <th>Tùy chọn</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var client in Model.listClients)
        {
            <tr>
                <td>@client.id</td>
                <td>@client.name</td>
                <td>@client.des</td>
                <td>@client.price</td>
                <td>@client.quantity</td>
                <td>@client.img</td>
                <td>@client.mfg</td>
                <td>@client.exp</td>
                <td>
                    <a class="btn btn-primary btn-sm" href="/Clients/Edit?id=@client.id">Sửa</a>
                    <a class="btn btn-danger btn-sm" href="/Clients/Delete?id=@client.id">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<style>
    table {
        width: 100%;
        border-collapse: collapse;
    }

    th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

        th:first-child, td:first-child {
            width: 5%;
        }

        th:nth-child(6), td:nth-child(6) {
            width: 15%;
        }

    thead {
        background-color: #f2f2f2;
    }

    .btn-sm {
        padding: 4px 8px;
        font-size: 14px;
    }

    .btn-primary {
        background-color: #007bff;
        color: #fff;
        border: none;
    }

    .btn-danger {
        background-color: #dc3545;
        color: #fff;
        border: none;
    }

    td:nth-child(6) {
        max-width: 200px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>